@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inclusive+Sans&family=Merriweather+Sans:ital,wght@1,500&family=Open+Sans:wght@300&display=swap');
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll on the body */
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: auto;
    position: relative;
    background-color: #1C1C1C;
    background-image: url("assets/akatsuki.jpeg");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    
}

.compName{
    height: 50px;
    color: #F2FAEF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    margin-right: 10px;
}

.story{
    flex-grow: 1;
    color: #FFF;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight:300;
    line-height: normal;
    text-align: left;
    margin:15%;
    flex-direction : column;
    display: flex;
    
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    border: 10px;
    background-color: rgba(255, 255, 255, 0.1);  /* Slight white tint */
    border-radius: 10px;  /* Rounded corners */
    backdrop-filter: blur(10px);  /* Blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.chatButton{
    display: flex;
    height: 100px;
    justify-content: center;
    font-family: 'Inclusive Sans', sans-serif;
    align-items: center; 
}

.btn{
    width: 148px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 15px;
    font-family: 'Inclusive Sans', sans-serif;
    font-size:23px;
    font-style: normal;
    align-self: center;
    margin-top: 20px ;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;

    background-color: #2c2f33; 
    color: #e03c31; 
    border: 3px solid #e03c31;

    /* Adding some shadows for depth */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    /* Hover state to make the button interactive */
    &:hover {
        background-color: #e03c31;
        color: #2c2f33;
        border: 3px solid #2c2f33;
    }
}

@media screen and (hover : hover ) {
    .compName{
        height: 50px;
        font-size: 70px;
        align-self: center;
    }
    .story{
        font-size: 30px;
        margin: 15%;
        font-family: 'Inclusive Sans', sans-serif;
        flex-direction: column;
        display: flex;

        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        position: relative;
        border: 10px;
        background-color: rgba(255, 255, 255, 0.1);  /* Slight white tint */
        border-radius: 30px;  /* Rounded corners */
        backdrop-filter: blur(10px);  /* Blur effect */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .btn {
        /* Base styles */
        width: 148;
        height:  71px;
        font-size: 23px;
        font-family: 'Inclusive Sans', sans-serif;
        text-align: center;
        line-height: normal; /* This will vertically center the text */
        border-radius: 12px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        align-self: center;
        margin-top:20px;
        background-color: #2c2f33; 
        color: #e03c31; 
        border: 3px solid #e03c31;
    
        /* Adding some shadows for depth */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
        /* Hover state to make the button interactive */
        &:hover {
            background-color: #e03c31;
            color: #2c2f33;
            border: 3px solid #2c2f33;
        }
    }
}